@import './libs/normalize';

@import './components/all';

@font-face {
  font-family: 'Nekst';
  src: url('./fonts/Nekst-Black.eot');
  src: local('Nekst Black'), local('Nekst-Black'),
    url('./fonts/Nekst-Black.eot?#iefix') format('embedded-opentype'),
    url('./fonts/Nekst-Black.woff2') format('woff2'), url('./fonts/Nekst-Black.woff') format('woff'),
    url('./fonts/Nekst-Black.ttf') format('truetype');
  font-weight: 900;
  font-style: normal;
}

@font-face {
  font-family: 'Gilroy';
  src: url('./fonts/Gilroy-Regular.eot');
  src: local('Gilroy Regular'), local('Gilroy-Regular'),
    url('./fonts/Gilroy-Regular.eot?#iefix') format('embedded-opentype'),
    url('./fonts/Gilroy-Regular.woff2') format('woff2'),
    url('./fonts/Gilroy-Regular.woff') format('woff'),
    url('./fonts/Gilroy-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}

body {
  font-family: 'Gilroy', sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  color: #111111;
  background-color: #e5e5e5;
}

.wrapper {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  padding: 213px 48px;
}
